body{

	text-align:center;
	font-family:Didot, serif;
	background-color:white;
background-image: url("./img/runshoe.png");
background-size: cover;


h1{
font-size: 150px;
}

h2{
margin-bottom:0.4%;
}
}

header{
background-color: #ccecff;
font-family:Gill Sans, sans-serif;
margin-bottom: 0px;
}


div.b {
  line-height: 1.6;
}

img{
float:left;
padding:1.2%;
margin-left:2%;
}

.container{
width:80%;
margin: 0 auto;
}



header::after{
content:'';
display:table;
clear:both;
}

nav ul{
margin:0;
padding:0;
list-style:none;
}

nav li{
float:right;
display: inline-block;
margin-right:5%;
padding-top:3.3%;
position:relative;
}

nav a{
color: #7934b3;
text-transform:uppercase;
text-decoration:none;
}

nav a:hover{
color:#e075cb;
}

nav a::before{
content:'';
display:block;
height: 3px;
width: 100%;
background-color: #e075cb;

position: absolute;
top: 0;
width: 0%;
}

nav a:hover::before{
width:100%;
}

.title{
font-family:Optima, sans-serif;
font-size:8.3em;
font-weight:800;
margin-bottom:0px;
margin-top:1%;
color:transparent;
background-image:url(https://media.giphy.com/media/fUvfA0iLgy8qCGuvF2/giphy.gif);
background-position:center;
-webkit-background-clip:text;
}

.boxed{
background-color:rgba(170, 109, 222, 0.775);
border:0;
padding-top:9.7%;
padding-bottom:9%;
padding-right:9%;
padding-left:9%;
margin-top:10px;
margin-bottom:10px;
}

.boxed17{
background-color:rgba(170, 109, 222, 0.775);
margin-top:1%;
margin-bottom:1%;
padding-bottom:10%;
top:50%;
left:50%;
}

.LogInTitle{
font-family:Optima, sans-serif;
font-size:7em;
font-weight:800;
margin-bottom: 0px;
margin-top:0.1%;
color:transparent;
background-image:url(https://media.giphy.com/media/fUvfA0iLgy8qCGuvF2/giphy.gif);
background-position:center;
-webkit-background-clip:text;
}

.buttonclass {
float:right;
  background-color:#e075cb;
color:black;
display:block;
height:60px;
width:60px;
border-radius:50%;
border:0px;
    margin:0 auto;
position:absolute;
top:50%;
text-decoration:none;
font-family:Impact, fantasy;
font-size:0.8rem;
}

.logInButton{
transform:translateX(168px) translateY(80px);
}

.signUpButton{
	transform:translateX(168px) translateY(80px);
}

.buttonclass:hover{
background-color:#aa6dde;
}

.boxed18{
background-color:#ccecff;
padding:60px;
margin-left:450px;
margin-right:450px;
}

.boxed19{
background-color:rgba(170, 109, 222, 0.775);
margin-top:10px;
margin-bottom:10px;
padding-bottom:170px;
top:50%;
left:50%;
opacity:0.775; 
}
